NEXT_PUBLIC_GA_ID=G-15110985286
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_CONTACT_EMAIL=gemlikatalayturizm@gmail.com
CONTACT_RECIPIENT_EMAIL=gemlikatalayturizm@gmail.com
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=atalayturizm@example.com
SMTP_PASS=outlook-sifre-veya-uygulama-sifresi
SMTP_FROM=atalayturizm@example.com
